<div class="cinii_search">
<div class="cinii_title"><strong>CiNii関連検索 - <%=h data[:q] %></strong> (<%=h data[:totalResults] %> Hits)</div>
<ol>
<% data[ :entries ][0,5].each do |entry| %>
  <li><span class="cinii_title"><a href="<%=h entry[:url] %>"><%=h entry[:title] %></a></span><br>
      <span class="cinii_author"><%=h entry[:author] %></span>
<% end %>
</ol>
<div class="cinii_frame"><a href="<%=h data[:link] %>">More results</a></div>
</div>
