body {
  /* ref:http://www.colordic.org/colorsample/2173.html */
  background-color: #fcd575;
  padding: 1%;
  font-family: Tahoma, Verdana, sans-serif;
}

div.last-update {
  text-align: right;
  font-size: smaller;
}
div.top-navi {
  text-align: right;
  font-size: smaller;
}
div.top-navi a {
  margin-left: .5em;
}

h1 {
  text-align: center;
}
.form {
  margin-left: 5em;
  margin-right: 5em;
}
textarea {
  display: inline;
}
input[type="text"] {
  font-size: larger;
}
input { padding: 2px; }

.help-text {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

div.cinii_headline {
  font-size: smaller;
  background-color: #3366cc;
  color: white;
  text-align: right;
  padding: 2px;
  margin: 1ex;
}
div.cinii_headline a img {
  border: none;
  vertical-align: text-bottom;
}
.additional_keywords {
  font-size: smaller;
  color: #ddd;
}
.cinii_title {
  padding: 2px;
  margin-right: 1ex;
}
.cinii_author, .cinii_publicationName, .cinii_publicationDate {
  font-size: smaller;
}

.pagination {
  font-size: 1.1;
}
.pagination span.idx, .pagination a {
  margin: 2px;
  border: 1px solid #66d;
  padding: 0.25em 0.4em;
}
.pagination span.idx {
  font-weight: bold;
  background-color: #eee;
}
.pagination a:hover {
  background: #039;
  border-color: #00d;
  color: #fff;
}

#footer {
  font-size: smaller;
  text-align: right;
}
