body {
  /* ref:http://www.colordic.org/colorsample/2173.html */
  background-color: #fcd575;
  padding: 1%;
}

div.last-update {
  text-align: right;
  font-size: smaller;
}
div.top-navi {
  text-align: right;
  font-size: smaller;
}
div.top-navi a {
  margin-left: .5em;
}

h1 {
  text-align: center;
}
.form {
  margin-left: 5em;
  margin-right: 5em;
}
textarea {
  display: inline;
}
input[type="text"] {
  font-size: larger;
}
input { padding: 2px; }

.help-text {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  font-size: smaller;
  text-align: right;
}
